@charset "UTF-8";

h1{
    text-align: center;
}
li{
    background-color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}
p{
    text-align: center;
}
body{
    background-image: radial-gradient(circle, navy, blue);
}