@charset "UTF-8";

#highlander{
    color: navajowhite;
    border-style: groove;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    width: 290px;
    display: inline;
}
.naoeohighlander{
    color: navajowhite;
    border-style: groove;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
    width: 290px;
    display: inline;
}